# MKS Robin Nano V3 - Pin Alias Definition Only
# MCU: stm32f407 (48KiB bootloader, USB enabled)

[board_pins]
aliases:
    # Stepper Drivers
    X_STEP=PE3,   X_DIR=PE2,   X_ENABLE=PE4,   X_UART=PD5,   X_STOP=PA15,
    Y_STEP=PE0,   Y_DIR=PB9,   Y_ENABLE=PE1,   Y_UART=PD7,   Y_STOP=PD2,
    Z_STEP=PB5,   Z_DIR=PB4,   Z_ENABLE=PB8,   Z_UART=PD4,   Z_STOP=PC8,
    E0_STEP=PD6,  E0_DIR=PD3,  E0_ENABLE=PB3,  E0_UART=PD9,
    E1_STEP=PD15, E1_DIR=PA1,  E1_ENABLE=PA3,  E1_UART=PD8,
    # Heaters / Sensors
    HE0=PE5,      HE0_TEMP=PC1,
    HE1=PB0,      HE1_TEMP=PA2,
    BED=PA0,      BED_TEMP=PC0,
    # Fans
    FAN0=PC14,
    FAN1=PB1,
    # EXP1 Header (LCD)
    EXP1_1=PC5,   EXP1_2=PE13,
    EXP1_3=PD13,  EXP1_4=PC6,
    EXP1_5=PE14,  EXP1_6=PE15,
    EXP1_7=PD11,  EXP1_8=PD10,
    EXP1_9=<GND>, EXP1_10=<5V>,
    # EXP2 Header (LCD)
    EXP2_1=PA6,   EXP2_2=PA5,
    EXP2_3=PE8,   EXP2_4=PE10,
    EXP2_5=PE11,  EXP2_6=PA7,
    EXP2_7=PE12,  EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<3.3v>,
    # SPI (shared with EXP2)
    SPI1_MISO=PA6, SPI1_MOSI=PA7, SPI1_SCK=PA5,
    # Bltouch
    BLTOUCH=PA8,
    # Others
    PW_DET=PA13, PW_OFF=PB2,
    MT_DET1=PA4, MT_DET2=PE6