[probe]
pin: !Z_STOP
x_offset: 0     			 # X-axis - sensor offset relative to the nozzle
y_offset: 0     			 # Y-axis - sensor offset relative to the nozzle
z_offset: 0                  # Z-axis - sensor offset relative to the nozzle
                             #You'll need to manually calibrate the probe's Z offset by using "PROBE_CALIBRATE"
speed: 10.0                  # Levelling speed
samples: 3                   # sampling frequency
samples_result: median       # Value type (default median)
sample_retract_dist: 3.0     # Levelling retraction distance
samples_tolerance: 0.01      # Sampling tolerance (note that too small a value may result in increased sampling)
samples_tolerance_retries: 3 # Number of out-of-tolerance retries

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}